html,
body {
  font-family: Arial;
  height: 100%;
}

.navbar {
  background-color: #e74c3c !important;
}

.navbar .navbar-brand {
  color: #ecf0f1 !important;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc !important;
}

.navbar .navbar-text {
  color: #ecf0f1 !important;
}

.footer {
  height: 50px;
  background-color: #e74c3c;
}

.footer-copyright {
  font-size: 15pt;
  text-align: center;
  color: #ecf0f1 !important;
}

.footer .footer-copyright:hover,
.footer .footer-copyright:focus {
  color: #ffbbbc !important;
}

.concern_region_name {
  font-family: Impact;
  font-size: 30px;
  display: block;
  text-align: center;
  /* min-width: 100px;
  min-height: 100px; */
}

.bottom {
  background-color: black;
  min-width: 1500px;
  min-height: 600px;
  position: relative;
}
/*
svg {
  position: relative;
  display: block;
  margin: auto;
}

svg g {
  opacity: 0.9;
} */


.centered img {
  width: 150px;
  border-radius: 50%;
}

#chart {
  width: 750px;
  height: 300px;
  overflow: visible;
}

#ids {
  font-family: Impact;
  font-size: 30px;
}

#region_name {
  margin-top: 10px;
}

.container-fluid {}

.c3-title {
  font-family: Impact !important;
  font-size: 20px !important;
}

.btn{
  width: 45px;
  height: 30px;
}

.concern_flow{
  min-width: 900px;
  min-height: 600px;
}
