body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  width: 70%;
  background-color: #111;
}

.right {
  right: 0;
  width: 30%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

svg {
  overflow: scroll;
}

svg g {
  opacity: 0.9;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.testHover1 {
  position: absolute;
  left: 25%;
  background-color: teal;
  height: 50px;
  width: 50px;
  border-radius: 50%
}

.testHover2 {
  position: absolute;
  left: 50%;
  background-color: coral;
  height: 50px;
  width: 50px;
  border-radius: 50%
}
