body {
  font-family: Arial;
  color: white;
}

.navbar-inverse {
  background-color: #263238 !important;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  width: 50%;
  float: left;
}

.middle {
  left: 42.5%;
  width: 12.5%;
}

.right {
  right: 2%;
  width: 42.5%;
}

.up{
  height: 42.5%;
  right: 10%;
}

.down {
  top: 50.5%;
  height: 47.5%;
  left: 10.5%;
/*  min-height: 300px;
  min-width: 500px;*/
}

svg{
  overflow: scroll;
  position: absolute;
  left: 10%;
}

svg g {
  opacity: 0.9;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

#chrt {
  float: left;
}

#chart{
  min-width:500px;
  min-height: 400px; 
}

#chartAll{
  min-width:500px;
  min-height: 400px; 
  z-index: 1;
}

.menu {
    height: 30px;
    margin-left: 20px;
    display:inline-block;
    color:#FFFFFF;
    background:#183442;
    vertical-align:middle;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 25px;
}

.panel-left-header { /*menu*/
    background-color: #183442;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*.menu-button:hover {
    color:#0788f7;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}*/

/*.concern_flow_overlay{
    background: transparent !important;
}*/

/*.concern_flow{ 
    width: 1000px;
    height: 600px;
    background-color: #FFFFFF;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: solid 2px black;
}
*/
#ids{
    font-family: Impact;
    font-size: 30px;
}
/*.region_name{
 
}*/